/* para alterar meu html global */
body{
  background: url(../assets/fundo.jfif) no-repeat center bottom/cover;
  min-height: 100%
}
 
.my-nav{
    display: contents;
  }

.titulo{
    font-weight: bold;
    font-family: Roboto, 'sans-serif';
    font-size: 50px;
    color:#CC9B61;
    padding-left: 50px;

}
.cardapio{
  margin-top: 50px;
  padding-left: 30px;
  
}
h1{
    font-weight: bold;
    font-family: Roboto, 'sans-serif';
    font-size: 50px;
    color:#18464C;
    padding-left: 55px;

}
h2{
  color:#CC9B61;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 60px;
  padding-top: 0px;

}
.principal{
  display: flex;
  justify-content: center;
  
}
.container{
  width: 250px;
  height: 350px;
  background-color:white;
  border-color: rgb(34, 32, 32);
  margin: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  transition-property: background-color;
  transition-duration: 500ms;
  
}
.container:hover{
  background-color: #DCDCDC;

}
.desc{
  font-size: 14px;
  color: black;
  text-align: center;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;

}
img .imagens{
  width: 175px;
  height: 175px;
  margin-left: 12px;
  margin-top: 5px;
  align-items: center;

}
a{
  text-decoration: none;
}

