:root {
  --bronze: #CC9B61;
  --blue: #18464C;
  --white-iced: #FFFAF3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: var(--bronze);
  border-radius: 10px;
}

body p, h1, h2, h3, span {
  font-family: Roboto, 'sans-serif';
}

.container-img {
  position: relative;
  height: 100%vh;
  width: 100vw;
  background: url('../assets/cardapio-bg.jpeg');
  background-size: cover;
  background-position: top;
}

.checked {
  color: var(--bronze);
}

.blue {
  color: var(--blue);
}

.bronze {
  color: var(--bronze);
}

.navbar {
  background-color: transparent;
}

#nav-links a{
  color: var(--bronze);
}

#nav-links[class*="is-active"] a {
  color: var(--blue);
}

h3::first-letter {
  color: var(--bronze);
}

.img {
  width: 80px;
  height: 70px;
}

.menu-item {
  border-radius: 20px;
  background-color: var(--white-iced);
  box-shadow: 1px 1px 6px var(--bronze);
}

.img-media-card {
  width: 90px;
}

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.btn-menu {
  color: var(--azul);
  font-weight: bold;
}

.btn-menu:hover {
  background: var(--bronze);
}

.best-sellers-btn {
  background-color: var(--blue);
  transition: ease-in 0.3;
}

.best-sellers-btn span {
  color: var(--white-iced);
}

.best-sellers-btn:hover {
  background-color: var(--bronze);
};
